.card_post {
    width: 435px;
    height: 340px;
    border-radius: 10px;
    border: #e0e0e0 solid 1px;
    color: #26262e;

    >img {
        width: 100%;
        height: 200px;
        border-radius: 10px 10px 0 0;
    }

}

h2 {
    font-size: 20px;
    text-decoration: none;
}

.short_info_card {
    padding: 15px;

    >p {
        font-size: 12px;
        margin: 10px 0px;
        color: #949497;
        text-decoration: none;
    }
}